In [1]:
import pandas as pd

Given the following confusion matrix, evaluate (by hand) the model's performance.


|               | actual cat | actual dog |
|:------------  |-----------:|-----------:|
| predicted cat |         34 |          7 |
| predicted dog |         13 |         46 |

- We treat is cat as postive case, is dog as negtaive case.

- FP false positive would be 7
- FN false negative would be 13
- TP 34
- TN 46

In [2]:
df = pd.DataFrame({'actual cat': [34, 13],'actual dog': [7, 46]}, index = ['predicted cat','predicted dog'])
df

               actual cat  actual dog
predicted cat          34           7
predicted dog          13          46

In [3]:
TP = 34
TN = 46
FP = 7
FN = 13
Accuracy = (TP + TN) / (TP + TN + FP + FN)
Accuracy

0.8

In [4]:
Precision = TP / (TP + FP)
Precision

0.8292682926829268

In [5]:
Recall = TP / (TP+FN)
Recall

0.723404255319149

In [6]:
c3 = pd.read_csv('c3.csv')
c3.head()

      actual     model1  model2     model3
0  No Defect  No Defect  Defect  No Defect
1  No Defect  No Defect  Defect     Defect
2  No Defect  No Defect  Defect  No Defect
3  No Defect     Defect  Defect     Defect
4  No Defect  No Defect  Defect  No Defect

In [7]:
pd.crosstab(c3.model1, c3.actual)

actual     Defect  No Defect
model1
Defect          8          2
No Defect       8        182

In [8]:
Recall = TP / (TP+FN)

In [9]:
TP = 8
FN = 8

In [10]:
model1_Recall = TP / (TP+FN)
model1_Recall

0.5

In [11]:
pd.crosstab(c3.model2, c3.actual)

actual     Defect  No Defect
model2
Defect          9         81
No Defect       7        103

In [12]:
TP = 9
FN = 7
model2_Recall = TP / (TP+FN)
model2_Recall

0.5625

In [13]:
pd.crosstab(c3.model3, c3.actual)

actual     Defect  No Defect
model3
Defect         13         86
No Defect       3         98

In [14]:
TP = 13
FN = 3
model3_Recall = TP / (TP+FN)
model3_Recall
# model3 would be the bst fit for us, since its recall value is the highest.

0.8125

- Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [15]:
TP = 8
FP = 2
model1_Precision = TP / (TP + FP)
model1_Precision

0.8

In [16]:
TP = 9
FP = 81
model2_Precision = TP / (TP + FP)
model2_Precision

0.1

In [17]:
TP = 13
FP = 86
model3_Precision = TP / (TP + FP)
model3_Precision
#  Model 1 would be the best fit for this use, since it has the highest precision value.

0.13131313131313133

In [18]:
df = pd.read_csv('gives_you_paws.csv')
df.head()

  actual model1 model2 model3 model4
0    cat    cat    dog    cat    dog
1    dog    dog    cat    cat    dog
2    dog    cat    cat    cat    dog
3    dog    dog    dog    cat    dog
4    cat    cat    cat    dog    dog

In [19]:
pd.crosstab(df.model1, df.actual)

actual   cat   dog
model1
cat     1423   640
dog      323  2614

In [20]:
df.actual.value_counts()

dog    3254
cat    1746
Name: actual, dtype: int64

In [21]:
df['baseline_prediction'] = 'dog'
df.head()

  actual model1 model2 model3 model4 baseline_prediction
0    cat    cat    dog    cat    dog                 dog
1    dog    dog    cat    cat    dog                 dog
2    dog    cat    cat    cat    dog                 dog
3    dog    dog    dog    cat    dog                 dog
4    cat    cat    cat    dog    dog                 dog

In [24]:
model1_accuracy = (df.model1 == df.actual).mean()
baseline_accuracy = (df.baseline_prediction == df.actual).mean()
print(f'   model1 accuracy: {model1_accuracy:.2%}')
print(f'baseline accuracy: {baseline_accuracy:.2%}')

   model1 accuracy: 80.74%
baseline accuracy: 65.08%

In [25]:
model2_accuracy = (df.model2 == df.actual).mean()
baseline_accuracy = (df.baseline_prediction == df.actual).mean()
print(f'   model2 accuracy: {model2_accuracy:.2%}')
print(f'baseline accuracy: {baseline_accuracy:.2%}')

   model2 accuracy: 63.04%
baseline accuracy: 65.08%

In [29]:
model3_accuracy = (df.model3 == df.actual).mean()
baseline_accuracy = (df.baseline_prediction == df.actual).mean()
print(f'   model3 accuracy: {model3_accuracy:.2%}')
print(f'baseline accuracy: {baseline_accuracy:.2%}')

   model3 accuracy: 50.96%
baseline accuracy: 65.08%

In [30]:
model4_accuracy = (df.model4 == df.actual).mean()
baseline_accuracy = (df.baseline_prediction == df.actual).mean()
print(f'   model4 accuracy: {model4_accuracy:.2%}')
print(f'baseline accuracy: {baseline_accuracy:.2%}')

   model4 accuracy: 74.26%
baseline accuracy: 65.08%