In [15]:
import pandas as pd
import numpy as np
from pydataset import data
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [35]:
df = tips = data('tips')

In [36]:
df.head()

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3
3       21.01  3.50    Male     No  Sun  Dinner     3
4       23.68  3.31    Male     No  Sun  Dinner     2
5       24.59  3.61  Female     No  Sun  Dinner     4

In [37]:
df['yhat_baseline'] = df['tip'].mean()
df.head(3)

   total_bill   tip     sex smoker  day    time  size  yhat_baseline
1       16.99  1.01  Female     No  Sun  Dinner     2       2.998279
2       10.34  1.66    Male     No  Sun  Dinner     3       2.998279
3       21.01  3.50    Male     No  Sun  Dinner     3       2.998279

In [38]:

from statsmodels.formula.api import ols
model = ols('tip ~ total_bill', data=df).fit()
df['yhat'] = model.predict(df.total_bill)

In [40]:
df.head()

   total_bill   tip     sex smoker  day    time  size  yhat_baseline      yhat
1       16.99  1.01  Female     No  Sun  Dinner     2       2.998279  2.704636
2       10.34  1.66    Male     No  Sun  Dinner     3       2.998279  2.006223
3       21.01  3.50    Male     No  Sun  Dinner     3       2.998279  3.126835
4       23.68  3.31    Male     No  Sun  Dinner     2       2.998279  3.407250
5       24.59  3.61  Female     No  Sun  Dinner     4       2.998279  3.502822

In [33]:
from scipy import stats
from sklearn.metrics import mean_squared_error, r2_score, explained_variance_score

from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import f_regression 
from math import sqrt
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [42]:
df['residual'] = df['yhat'] - df['tip']
df['residual_baseline'] = df['yhat_baseline'] - df['tip']

In [43]:
df.head()

,total_bill,tip,sex,smoker,day,time,size,yhat_baseline,yhat,residual,residual_baseline
1,16.99,1.01,Female,No,Sun,Dinner,2,2.998279,2.704636,1.694636,1.988279
2,10.34,1.66,Male,No,Sun,Dinner,3,2.998279,2.006223,0.346223,1.338279
3,21.01,3.50,Male,No,Sun,Dinner,3,2.998279,3.126835,-0.373165,-0.501721
4,23.68,3.31,Male,No,Sun,Dinner,2,2.998279,3.407250,0.097250,-0.311721
5,24.59,3.61,Female,No,Sun,Dinner,4,2.998279,3.502822,-0.107178,-0.611721

In [44]:
df['residual^2'] = df.residual ** 2

df['residual_baseline^2'] = df.residual_baseline ** 2

df.head(3)

,total_bill,tip,sex,smoker,day,time,size,yhat_baseline,yhat,residual,residual_baseline,residual^2,residual_baseline^2
1,16.99,1.01,Female,No,Sun,Dinner,2,2.998279,2.704636,1.694636,1.988279,2.871792,3.953252
2,10.34,1.66,Male,No,Sun,Dinner,3,2.998279,2.006223,0.346223,1.338279,0.119870,1.790990
3,21.01,3.50,Male,No,Sun,Dinner,3,2.998279,3.126835,-0.373165,-0.501721,0.139252,0.251724

In [45]:
SSE = sum(df['residual^2'])
SSE_baseline = sum(df['residual_baseline^2'])

print("SSE = ", SSE)
print("SSE - baseline = ", SSE_baseline)

SSE =  252.78874385077603
SSE - baseline =  465.21247704918085

In [46]:
MSE = SSE/len(df)
MSE_baseline = SSE_baseline/len(df)

print("MSE = ", MSE)
print("MSE baseline = ", MSE_baseline)

MSE =  1.036019442011377
MSE baseline =  1.9066085124966428

In [47]:
RMSE = sqrt(MSE)
RMSE_baseline = sqrt(MSE_baseline)

print("RMSE = ", RMSE)
print("RMSE baseline = ", RMSE_baseline)

RMSE =  1.0178504025697377
RMSE baseline =  1.3807999538298958