In [ ]:
import requests
import pandas as pd

### Exercise 1
- Using the code from the lesson as a guide, create a dataframe named items that has all of the data for items.

In [ ]:
response = requests.get('https://python.zach.lol/api/v1/items')
data = response.json()

In [ ]:
data['payload']['items']

In [ ]:
items = pd.DataFrame(data['payload']['items'])

In [ ]:
items.head()

In [ ]:
items.shape

In [ ]:
response = requests.get('https://python.zach.lol/api/v1/stores')
data = response.json()

In [ ]:
stores = pd.DataFrame(data['payload']['stores'])

In [ ]:
stores.head()

In [ ]:
response = requests.get('https://python.zach.lol/api/v1/sales')
data = response.json()

In [ ]:
sales = pd.DataFrame(data['payload']['sales'])

In [ ]:
sales.head()

In [ ]:
from os import path

import requests
import pandas as pd

BASE_URL = 'https://python.zach.lol'
API_BASE = BASE_URL + '/api/v1'

def get_store_data_from_api():
    url = API_BASE + '/stores'
    response = requests.get(url)
    data = response.json()
    return pd.DataFrame(data['payload']['stores'])

In [ ]:
def get_sale_data_from_api():
    url = API_BASE + '/sales'
    response = requests.get(url)
    data = response.json()

    stores = data['payload']['sales']

    while data['payload']['next_page'] is not None:
        print('Fetching page {} of {}'.format(data['payload']['page'] + 1, data['payload']['max_page']))
        url = BASE_URL + data['payload']['next_page']
        response = requests.get(url)
        data = response.json()
        stores += data['payload']['sales']

    return pd.DataFrame(stores)

In [1]:
import acquire

In [7]:
acquire.get_opsd_data()

            Date  Consumption     Wind   Solar  Wind+Solar
0     2006-01-01   1069.18400      NaN     NaN         NaN
1     2006-01-02   1380.52100      NaN     NaN         NaN
2     2006-01-03   1442.53300      NaN     NaN         NaN
3     2006-01-04   1457.21700      NaN     NaN         NaN
4     2006-01-05   1477.13100      NaN     NaN         NaN
...          ...          ...      ...     ...         ...
4378  2017-12-27   1263.94091  394.507  16.530     411.037
4379  2017-12-28   1299.86398  506.424  14.162     520.586
4380  2017-12-29   1295.08753  584.277  29.854     614.131
4381  2017-12-30   1215.44897  721.247   7.467     728.714
4382  2017-12-31   1107.11488  721.176  19.980     741.156

[4383 rows x 5 columns]